
#canvas {
  background: rgb(255, 255, 255);
  image-rendering: pixelated;
  border-radius: 10rem;
  outline: solid 2px black;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-background {
  display: none;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  position: absolute;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fff; /* Text color */
  text-shadow: 
    1px 1px 0 #000, /* Horizontal and vertical offsets, and color for the top-left shadow */
    -1px -1px 0 #000, /* Top-right shadow */
    1px -1px 0 #000, /* Bottom-left shadow */
    -1px 1px 0 #000; /* Bottom-right shadow */

}

#gachavideo {
  background-color: black;
  width: 100vw;
  height: 100vh;

  display: none;
  position: absolute;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5); /* Enlarge the element */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}

.gacha-modal-sprite {
  
  animation-name: pop;
  animation-duration: 0.6s;
}
.gacha-modal-header-text {
  font-family: myFirstFont;
  font-size: x-large;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    105deg,
    #ffdedf 0%, #c9c6d2 20%,
    #df9305 20%,
    #df9305 30%,
    #eea919 30%,
    #ffae01 100%
  );
}

.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 20em 1fr; 
  grid-template-rows:  1fr 5rem ; 
  grid-template-areas:
    "side game"
    "side bottom";
    gap: 1rem 1rem;
  width: 100vw - 1rem;
  height: 100vh - 1rem;
  max-width: 100vw - 1rem;
  max-height: 100vh - 1rem;

}
.game {
  grid-area: game;
  display: flex;
}

#money {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.bottom {
  display: flex;
  flex-direction: row;
  grid-area: bottom;
  align-content:center;
  justify-content: center;
  gap: 1rem;
}
.side {
  grid-area: side;
  overflow-y: auto;
}
.gachamon-display {
  max-height: 100%;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  align-content: flex-start;  
  justify-content: flex-start;
}

@font-face {
  font-family: myFirstFont;
  src: url(/gachamon/font/instruction.otf);
}

.gachamon {
  border-radius: 10rem;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  background-color: #feffff;
  color: black;
  outline: solid 2px black;
}
.gachamon-name-text {
  font-size: small;
}
.gachamon-text {
  font-family: myFirstFont;
  font-size: small;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.glow {
    font-size: 2rem;
    color: #fff; /* Text color */
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    animation: glowing 1.5s infinite ease-in-out;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 25px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
}
